doctype html
html
  head
    meta(charset="UTF-8")
    title= title  
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/libs/jquery/dist/jquery.js")
  body
    include header
    block content