doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    script(src="/libs/jquery/dist/jquery.js")
  body
    include header
    block content